# ./config/mysql/my.cnf
[mysqld]
# General logging
# general_log = 1
# general_log_file = /var/lib/mysql/general.log

# Error logging
# log_error = /var/lib/mysql/error.log

# Increase packet size (useful for large imports/exports)
max_allowed_packet = 128M

# Default character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# To allow connections from any host (useful for Docker dev)
# This might be default or handled by the Docker image already
# bind-address = 0.0.0.0